.headerAppbar {
  position: "static";
  background: linear-gradient(
    180deg,
    var(--color-bg) 0%,
    #141637 100%
  ) !important;
}

.headerToolbar {
  justify-content: space-between;
}

.headerBox {
  display: flex;
  align-items: center;
}

.headerIconButton {
  margin-right: 0.0625em;
  color: inherit;
}

.headerTypography {
  font-weight: 37.5rem;
  padding-left: 0.5em;
}

.headerBoxButtons {
  width: 190px;
  display: flex;
  justify-content: space-around;
}

.headerButton:hover,
.headerIconbutton:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.headerAvatarDiv {
  cursor: pointer;
}
