.footerBox {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125em 0.1875em;
  background: linear-gradient(0deg, var(--color-bg) 0%, #141637 100%);
  margin-top: auto;
}

.footerStack {
  justify-content: center;
  align-items: center;
  flex-wrap: "wrap";
}
