#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #141637 0%,
    var(--color-bg) 50%,
    #141637 100%
  );
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
