.projectBoxContent {
  padding-bottom: 0;
}

.projectStakeholdersTableContainer {
  max-width: 95%;
  box-sizing: border-box;
  margin: 4em auto 0.75em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 10px;
  padding-top: 10px;
  border: 1px solid var(--color-secondary);
}

.projectStakeholdersAddButton {
  color: var(--color-text);
  width: 106px;
}

.projectStakeholdersAddButton:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.projectStakeholdersButtonsBox {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectStakeholdersAvatarDiv {
  display: inline-block;
}

.projectStakeholdersDialogBox {
  padding: 10px 20px;
}

.projectStakeholdersDialogBox:last-child {
  padding-bottom: 0;
}

.projectStakeholdersEmailTypography {
  padding-left: 10px;
}
