.projectContent {
  position: relative;
  flex-grow: 1;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 0.1);
  margin-left: 2.5em;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.projectContent.open {
  margin-left: 15em;
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1);
}

.projectHeader {
  padding-left: 0.31em;
  color: var(--color-primary);
  text-align: left;
}

.projectMessageBox {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectAttribute {
  width: 75%;
}

.projectForm {
  margin-top: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectFormButtons {
  padding: 1em;
}

.projectAdvanceStageButton:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.projectFormButton {
  width: 100%;
}

.projectButtonsBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1em;
}

.projectAdvancePageButtonGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}
