.projectBoxContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.projectMessageBox {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectAttribute {
  width: 75%;
}

.projectForm {
  margin-top: 4em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectFormButtons {
  padding: 1em;
}

.projectFormButton:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.projectFormButton {
  color: var(--color-text);
}

.projectButtonsBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1em;
}

.projectAdvancePageButtonGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3.75em;
  height: 3.75em;
}